*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color:#35383C;
  color:  #C7A262;
  overflow-x:hidden ;
}
html {
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  
}

a {
  text-decoration: none;
  color:inherit
}
 