
$big: 890px;

.home{
   
    height:100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
   
}
.header{
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem auto;
    text-transform: uppercase;
    @media screen and (min-width: $big) {
        width: 80%;
        font-size: 3rem;
        display: flex;
        justify-content: space-evenly;    
      }
}
.divider{
    display: none;
    height: 100%;
    width:4px;
    background-color: #C7A262;
    @media screen and (min-width: $big) {
       display: block;
      }
}
.body{
    width: 80%;
    font-size: 3rem;
    margin: 5rem auto;
    border:1px dotted #dbc6a2;
    
    h5{
        font-size: 2rem;
        @media screen and (min-width: $big) {
            margin: 2rem auto;
            text-align: center;
        font-size: 3rem;

        }
    }
    ul{
        list-style:none;
        display: flex;
        flex-direction: column;
        margin:4rem auto;
        @media screen and (min-width: $big) {
            display: flex;
            flex-direction: row;
            justify-content: space-around;  
          }
    }
    li{
       font-size: 3rem;
        margin:1rem auto;
       color:#dbc6a2;
       cursor: pointer;
       &:hover{
            border-bottom: 2px solid #C7A262;
        }
    }
}


